@use "variables";
@use "mixin";

header#gal-header {
  font-size: 14px;
  border-radius: 0;
  border-color: variables.$nav-border-color;
  background-color: variables.$nav-inverse;
  @include mixin.gal-box-shadow(variables.$nav-box-shadow);
  & .navbar-toggle {
    &:hover, &:focus {
      background-color: #333;
      outline: variables.$nav-button-outline-color auto 5px;
    }
    .fa-reorder {
      color: #fff;
    }
  }
  & #menu-gal {
    & > li > a {
      color: #fff;
    }
    & > li.current > a {
      background-color: variables.$purple;
    }
    & > li:not(.current) {
      & > a:hover, & > a:focus {
        @include mixin.gal-transition($duration: .25s);
        background-color: variables.$violet;
      }
    }
  }
}